// palette
$highlight: #dd2c2c;
$lowlight: #b52424;
$accent: #20BF55;
$accentlow: #3eb265;


// Font colors
$text-dark: #333333;
$text-white: #ffffff;

// background
$bg-white: #333333;
$bg-dark: #121212;
$bg-offwhite: #f7f7f7;
$bg-grey: #ededed;